@page
@model CobraStudio.Pages.Empleados.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h4>Empleados</h4>

<p>
    <a asp-page="Create">Registrar Empleado</a>
</p>

<form asp-page="./Index" method="get">
    <select id="kathe" name="SearchString" onchange="ShowSelected();" value="@Model.CurrentFilter">
        <option selected disabled>--Seleccione un área--</option>
        @foreach (var item in Model.items)
        {
            <option value=@item.Value> @item.Text</option>
        }
    </select>
    <input type="submit" value="Buscar"/>
    <a asp-page="./Index">Ver Todos</a>
</form>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th> Id </th>
            <th> Nombre </th>
            <th> Cedula </th>
            <th> Correo </th>
            <th> Área </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Empleado)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>

            <td>
                <a asp-page="./Details" asp-route-id="@item.IdEmpleado">Ver</a> |
                <a asp-page="./Edit" asp-route-id="@item.IdEmpleado">Editar</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdEmpleado">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function ShowSelected() {
        var cod = document.getElementById("kathe").value;
        console.log(cod);
    }
</script>